<div class="usercredit" ng-controller='usercredit'>
  <div class="col-md-12">
    <div class="col-md-3">
      <div class="col-md-12 user-form">
        <div class="" align="center">
          Flight
        </div>
        <form class="col-md-12" ng-submit="createLoan(selectedBankOp, selectedCredit, selectedUser)" style="color: black">
          <div class="form-group" align="center">
            <label for="user">Select airport</label>
            <div class="input-group">
              <select ng-model="selectedBankOp" ng-options="bank.bank_name for bank in banks" ng-change="selectedBank(selectedBankOp)" style="color: black">
              </select>
            </div>
          </div>
          <div class="form-group" align="center">
            <label for="user">Select plane</label>
            <div class="input-group">
              <select ng-model="selectedCredit" ng-options="credit.debt for credit in credits" style="color: black">
              </select>
            </div>
          </div>
          <div class="form-group" align="center">
            <label for="user">Select user</label>
            <div class="input-group">
              <select ng-model="selectedUser" ng-options="user for user in users" style="color: black">
              </select>
            </div>
          </div>
          <div class="login-submit">
            <button type="submit" class="btn btn-success"> Add flight </button>
          </div>
        </form>
      </div>
      <div class="col-md-12 user-form top10">
        <div class="" align="center">
          User Pay Money
        </div>
        <form class="col-md-12" ng-submit="payMoney(selectedBankMoney, selectedCreditMoney, selectedUserMoney, payedMoney)" style="color: black">
          <div class="form-group" align="center">
            <label for="user">Select airport</label>
            <div class="input-group">
              <select ng-model="selectedBankMoney" ng-options="bank.bank_name for bank in banks" ng-change="selectedBankMoneyFunc(selectedBankMoney)" style="color: black">
              </select>
            </div>
          </div>
          <div class="form-group" align="center">
            <label for="user">Select plane</label>
            <div class="input-group">
              <select ng-model="selectedCreditMoney" ng-options="credit.debt for credit in credits" style="color: black">
              </select>
            </div>
          </div>
          <div class="form-group" align="center">
            <label for="user">Select user</label>
            <div class="input-group">
              <select ng-model="selectedUserMoney" ng-options="user for user in usersMoney" style="color: black">
              </select>
            </div>
          </div>
          <div class="form-group" align="center">
            <label for="user">Money for a credit</label>
            <div class="input-group">
            <input type="text" name="payedMoney" ng-model="payedMoney" style="color: black">
            </div>
          </div>
          <div class="login-submit">
            <button type="submit" class="btn btn-success"> Pay </button>
          </div>
        </form>
      </div>

<!--       <div class="col-md-12 user-form top10">
        <div class="" align="center">
          <span>Select table</span>
        </div>
        <div class="form-group" align="center">
          <label for="user">Select bank</label>
          <div class="input-group">
            <select ng-model="bankSituation" ng-options="bank.bank_name for bank in banks" ng-change="selectedBankSituation(bankSituation)">
            </select>
          </div>
        </div>
        <div class="form-group" align="center">
          <label for="user">Select user</label>
          <div class="input-group">
            <select ng-model="userSituation" ng-options="user for user in usersSituation">
            </select>
          </div>
        </div>
        <div class="form-group" align="center">
          <button type="submit" class="btn btn-success" ng-click="closedCredits(userSituation,bankSituation)"> Closed credits </button>
          <button type="submit" class="btn btn-success" ng-click="newCredits(userSituation,bankSituation)"> Credits </button>
          <button type="submit" class="btn btn-success" ng-click="payingProcess(userSituation,bankSituation)"> Paying process </button>
        </div>

      </div> -->
    </div>
    <div class="col-md-9">
      <div class="col-md-12">
        <div class="" align="center">
          All flights
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>AirportOperationId</th>
              <th>AirportId</th>
              <th>PlaneId</th>
              <th>UserId</th>
 <!--              <th>Remaining</th>
              <th>User balance</th>
              <th>Date</th> -->
              <th><span>Delete Action</span></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="bank in bankOperations"
                ng-click="select(bank, $event)"
                ng-class="{'selected': createLoan === bank.bank_operation_id}">
              <td>{{bank.bank_operation_id}}</td>
              <td>{{bank.bank_id}}</td>
              <td>{{bank.credit_id}}</td>
              <td>{{bank.user_id}}</td>
<!--               <td>{{bank.remaining}}</td>
              <td>{{bank.user_balance_account}}</td>
              <td>{{bank.operation_date}}</td>
 -->              <td>
                <button type="button" class="btn actions btn-danger" name="button" ng-click="delete(bank, $event)">
                  <i class="fa fa-times"  aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
<div ui-view></div>
