.selected {
	background-color: lightgray;
	cursor: pointer;
	color: #000;
}
tr:hover {
	cursor: pointer;
	background-color: lightgray;
	color: #000;
}
td {
	border: lightgray 1px solid;
	text-align: center;
}
