<div class="bank" ng-controller="bank">
  <div class="col-md-12">
    <div class="col-md-3">
      <div class="col-md-12 user-form">
        <div class="" align="center">
          Create Airport
        </div>
        <form class="form col-md-12" ng-submit="create(bankname)">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" class="form-control" placeholder="Name" ng-model="bankname">
          </div>
          <div class="login-submit">
            <button type="submit" class="btn btn-success"> <i class="fa fa-plus"></i></button>
          </div>
        </form>
      </div>
      <div class="col-md-12 user-form top10">
        <div class="" align="center">
          Add user to airport
        </div>
        <form class="col-md-12 top10" ng-submit="addUser(selectedUser, selectedBank)" >
          <div class="form-group" align="center">
            <label for="bank">Select airport</label>
            <div class="input-group">
              <select  ng-model="selectedBank" ng-options="bank.bank_name for bank in banks" style="color: black" style="color: black">
              </select>
            </div>
          </div>
          <div class="form-group" align="center">
            <label for="user">Select user</label>
            <div class="input-group">
              <select ng-model="selectedUser" ng-options="user.fio.lastname for user in users" style="color: black">
              </select>
            </div>
          </div>
          <div class="login-submit">
            <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> add </button>
          </div>
        </form>
      </div>
      <div class="col-md-12 user-form top10" >
        <div class="" align="center">
          Remove user from airport
        </div>
        <form class="col-md-12" ng-submit="removeUser(selectedRemoveUser, selectedRemoveBank)" >
          <div class="form-group" align="center">
            <label for="bank">Select airport</label>
            <div class="input-group">
              <select  ng-model="selectedRemoveBank" ng-options="bank.bank_name for bank in banks" style="color: black" ng-change="removeUserBank(selectedRemoveBank)" >
              </select>
            </div>
          </div>
          <div class="form-group" align="center">
            <label for="user">Select user</label>
            <div class="input-group">
              <select ng-model="selectedRemoveUser"  ng-options="user for user in mustRemovedUsers" style="color: black">
              </select>
            </div>
          </div>
          <div class="login-submit">
            <button type="submit" class="btn btn-danger"> <i class="fa fa-times"></i></button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-3">
      <div class="col-md-12 user-form">
        <div class="" align="center">
          Update airport
        </div>
        <form class="col-md-12" ng-submit="updateBank(update)" >
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input type="text" class="form-control" placeholder="Name" ng-model="update.name">
            </div>
          </div>
          <div class="login-submit">
            <button type="submit" class="btn btn-success"> <i class="fa fa-pencil"></i> </button>
          </div>
        </form>
      </div>
      <div class="col-md-12 user-form top10">
        <div class="" align="center">
          Count money which passenger paid  airport for a flight
        </div>
        <form class="form col-md-12" ng-submit="showInOutCome(update)" >
          <div class="form-group" align="center">
            <label for="user">Select user from table</label>
            <div class="input-group">
              <input type="text" disabled ng-model="update.name" style="color: black">
            </div>
          </div>
          <div class="form-group" align="center">
            <label for="user">Money sum</label>
            <div class="input-group">
              <input type="text" disabled ng-model="income"  style="color: black">
            </div>
          </div>
       <!--    <div class="form-group" align="center">
            <label for="user">Outcome passangers</label>
            <div class="input-group">
              <input type="text" disabled ng-model="outcome"   style="color: black">
            </div>
          </div> -->
          <div class="login-submit">
            <button type="submit" class="btn btn-success"> Show sum </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-12">
        <div class="" align="center">
          All airports
        </div>
        <table class="table">
          <thead>
            <tr>
              <!--             <th>Id</th> -->
              <th>Airport name</th>
              <th>Users IDs</th>
              <th><span>Delete Action</span></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="bank in banks"
            ng-click="select(bank, $event)"
            ng-class="{'selected': selectedId === bank.bank_id}" >
            <!--     <td>{{bank.bank_id}}</td> -->
            <td>{{bank.bank_name}}</td>
            <td>{{bank.users}}</td>
            <td>
              <button type="button" class="btn actions btn-danger" name="button" ng-click="delete(bank, $event)">
                <i class="fa fa-times"  aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
</div>
<div ui-view></div>
